{{>header}}



<div class="about">
   <div class="wrapper target">
      <div class="text">
         <h3>
            About Me 
         </h3>
         <p>
           Hello! My name is Kaan Özcan, I was born in 2002 and I currently live in Balçova, İzmir — a city I deeply know and love. As someone who grew up in this beautiful region, I have a strong understanding of the local real estate market and community dynamics.

I’m a reliable and trustworthy person with strong communication skills and a genuine passion for helping people find the right property for their needs. Whether you're buying, selling, or simply exploring your options, I aim to make the process as smooth and stress-free as possible.




         </p>
      </div>
      <div class="picture">
         <img src="/img/team/team-1.jpg" alt="team">
      </div>
   </div>


      <div class="wrapper target">
      <div class="text">
         <h3>
            Professional Background
         </h3>
         <p>
           Since 2020, I’ve been working as a Real Estate Broker at R-1 Consulting Office in Balçova, İzmir, gaining solid experience in property sales, customer relations, and market analysis.

Previously, I worked as a Sales Officer at TAV Holding (2021–2022) and as a Business Manager at Ohi & Ohi Social Pub (2022–2023), where I developed strong communication and management skills that continue to support my real estate career today.


         </p>
      </div>
      <div class="picture">
         <img src="/img/team/team-2.jpg" alt="team">
      </div>
   </div>


      <div class="wrapper target">
      <div class="text">
         <h3>
            Education
         </h3>
         <p>
            I’m currently studying Computer Programming at Izmir University of Economics (2023–2025), where I’m developing skills in software, web, and game development.

I completed my high school education at Cahide Ahmet Dalyanoğlu Anatolian High School (2015–2019), which laid the foundation for my interest in both technology and business.


         </p>
      </div>
      <div class="picture">
         <img src="/img/team/team-3.jpg" alt="team">
      </div>
   </div>  
    <div class="wrapper target pdf-section">
      <div class="text">
         <h3>
            CV PDF
         </h3>
         <p>
            You can download my CV and reach me at the number.
         </p>
         <a href="/pdf/presentation.pdf" download class="download-btn">PDF’i İndir</a>
      </div>
      <div class="picture">
         <iframe src="/pdf/presentation.pdf" width="100%" height="800px" style="border:1px solid rgba(0,0,0,0.2); border-radius:10px;"></iframe>

      </div>
   </div>


   
</div>